@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap");

@import "tailwindcss";

@theme {
  --breakpoint-*: initial;
  --breakpoint-sm: 340px;
  --breakpoint-md: 540px;
  --breakpoint-lg: 768px;
  --breakpoint-xl: 1180px;

  --font-inconsolata: "Inconsolata", monospace;

  --color-neutral-0: hsl(0, 0%, 100%);
  --color-neutral-300: hsl(252, 6%, 83%);
  --color-neutral-500: hsl(245, 15%, 58%);
  --color-neutral-700: hsl(245, 19%, 35%);
  --color-neutral-900: hsl(248, 70%, 10%);
  --color-orange-500: hsl(7, 88%, 67%);
  --color-orange-700: hsl(7, 71%, 60%);
  --color-gradient-text: hsl(7, 86%, 67%);
}

@layer components {
  .input {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    font-size: 17px;
    cursor: pointer;
    transition: 0.3s;
  }
  .input:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
  .input:focus {
    outline: 1px solid var(--color-neutral-300);
    outline-offset: 3px;
  }
  .error {
    display: flex;
    color: #DC3545;
  }
  .error-border {
    border-color: #DC3545 !important;
  }
}
